
/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #333;
  font-size: 1em;
  line-height: 1.5;
  margin: 0;
  padding: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #bbdddb;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ff0000;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
//    ========================================================================== */
body {
  font-size: 16px;
  line-height: 24px;
  margin: 0 auto;
  padding: 0; }

h1 {
  font-size: 54px;
  line-height: 72px;
  margin-top: 48px;
  margin-bottom: 24px; }

h2 {
  font-size: 36px;
  line-height: 48px;
  padding-top: 48px;
  margin-bottom: 24px;
  margin-top: 0; }

h3 {
  font-size: 24px;
  line-height: 24px;
  padding-top: 24px;
  margin-bottom: 24px; }

h4 {
  font-size: 16px;
  line-height: 24px;
  padding-top: 24px;
  margin-bottom: 24px; }

p, ul, ol, pre, table, blockquote {
  margin-top: 24px;
  margin-bottom: 24px; }

/* Sanitation */
hr {
  border: 1px solid;
  margin: -1px 0; }

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0; }

b, strong, em, small, code {
  line-height: 1; }

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em; }

sub {
  top: 0.4em; }

h1, h2, h3, h4, a {
  font-family: Oswald, sans-serif;
  font-weight: 400; }

p, ul, ol {
  font-family: Lato, sans-serif; }

.logoReplace a {
  display: inline-block;
  width: 250px;
  height: 115px;
  background-size: cover;
  background-image: url("../images/logo.png");
  text-indent: -9999px;
  margin: 0 auto; }
  .logoReplace a:after {
    display: none; }

img {
  max-width: 100%; }

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  position: relative; }

.bold {
  font-weight: 700; }

p > a {
  font-family: Lato, sans-serif; }

section {
  padding-left: 4%;
  padding-right: 4%; }
  @media (min-width: 31.25em) {
    section {
      padding-left: 4%;
      padding-right: 4%; } }
  @media (min-width: 40.625em) {
    section {
      padding-top: 12px; } }

.button {
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid #a9cfe0;
  margin-top: 0px;
  display: inline-block;
  font-weight: 300;
  font-size: 18px; }
  @media (min-width: 64.0625em) {
    .button:hover {
      background-color: #a9cfe0; } }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  /*a[href]:after {
      content: " (" attr(href) ")";
  }  this prints the href after each link on the page. */
  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
header {
  background-image: url("../images/header.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 24px 2% 48px;
  margin-bottom: -30px; }
  @media (min-width: 31.25em) {
    header {
      padding-left: 4%;
      padding-right: 4%; } }
  header h1 {
    margin-top: 0; }
  header ul {
    list-style: none;
    padding: 0; }
  header ul.left {
    display: inline; }
    @media (min-width: 40.625em) {
      header ul.left {
        position: absolute;
        top: 7px;
        left: 0; } }
  header ul.right {
    display: inline; }
    @media (min-width: 40.625em) {
      header ul.right {
        position: absolute;
        top: 7px;
        right: 0; } }
  header li {
    display: inline; }
  header a {
    text-transform: uppercase;
    display: inline-block;
    color: #074752;
    font-weight: 300;
    font-size: 20px;
    padding: 13px 8px 13px;
    transition: all .5s ease;
    text-decoration: none;
    position: relative; }
    header a:after {
      content: "";
      width: 68%;
      margin: 0 auto;
      border-bottom: 2px solid #074752;
      position: absolute;
      left: 16%;
      bottom: 10px;
      transition: all .5s ease; }
    header a:hover:after {
      border-color: #2d7885; }
    @media (min-width: 23.4375em) {
      header a {
        padding-left: 10px;
        padding-right: 10px; } }
    @media (min-width: 41.875em) {
      header a {
        padding-left: 16px;
        padding-right: 16px; } }
    @media (min-width: 64.0625em) {
      header a:hover {
        color: #2d7885; } }
  header p {
    font-family: Oswald, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    color: #074752; }
    @media (min-width: 23.375em) {
      header p {
        font-size: 20px; } }
    @media (min-width: 40.625em) {
      header p {
        font-size: 24px;
        margin-top: 60px;
        margin-bottom: 60px; } }
    @media (min-width: 62.5em) {
      header p {
        font-size: 36px;
        line-height: 54px; } }
  header div.headWrapper {
    max-width: 660px;
    margin: 0 auto;
    position: relative; }

.work {
  background-color: #0b3156;
  background-image: url("../images/egg-shell.png");
  padding-bottom: 48px;
  border-top: 5px solid #a6a3a1;
  border-bottom: 5px solid #a6a3a1;
  text-align: center; }
  .work h2 {
    color: #bbdddb;
    margin-bottom: 48px; }
    @media (min-width: 40.625em) {
      .work h2 {
        text-align: left; } }
  .work h3 {
    color: #a6a3a1;
    font-weight: 300;
    position: absolute;
    top: 45%;
    left: 50%;
    padding-top: 12px;
    margin-left: -400px;
    width: 800px;
    background-color: rgba(0, 0, 0, 0.7);
    padding-bottom: 200px; }
    @media (min-width: 23.4375em) {
      .work h3 {
        top: 55%;
        padding-top: 20px; } }
    @media (min-width: 28.125em) {
      .work h3 {
        padding-top: 30px; } }
    @media (min-width: 40.625em) {
      .work h3 {
        top: 45%;
        padding-top: 12px; } }
    @media (min-width: 40.625em) {
      .work h3 {
        top: 45%;
        padding-top: 20px; } }
    @media (min-width: 50em) {
      .work h3 {
        top: 55%;
        padding-top: 12px; } }
    @media (min-width: 56.25em) {
      .work h3 {
        top: 60%; } }
    @media (min-width: 62.5em) {
      .work h3 {
        padding-top: 20px; } }
    @media (min-width: 64.0625em) {
      .work h3 {
        top: 65%;
        padding-top: 14px;
        transition: all .5s ease; } }
  @media (min-width: 64.0625em) {
    .work a:hover h3 {
      color: #d8d6d5; }
    .work a:hover div {
      border: 3px solid #6e7984; } }
  .work a > div {
    border: 3px solid #435a71;
    overflow: hidden;
    width: 100%;
    max-width: 510px;
    margin: 0 auto;
    margin-bottom: 36px;
    position: relative;
    transition: all .8s ease; }
    @media (min-width: 40.625em) {
      .work a > div {
        display: inline-block;
        width: 47%;
        margin-bottom: 4%; } }
  @media (min-width: 40.625em) {
    .work .leftWork {
      margin-right: 5%; } }

.about {
  background-color: #a9cfe0;
  text-align: center;
  position: relative;
  padding-bottom: 325px;
  color: #074752; }
  @media (min-width: 40.625em) {
    .about {
      text-align: left;
      padding-bottom: 48px; } }
  @media (min-width: 46.75em) {
    .about {
      padding-bottom: 72px; } }
  @media (min-width: 48.375em) {
    .about {
      padding-bottom: 96px; } }
  @media (min-width: 50.875em) {
    .about {
      padding-bottom: 120px; } }
  @media (min-width: 62.5em) {
    .about {
      padding-bottom: 60px; } }
  .about p {
    text-align: left;
    font-weight: 400; }
    @media (min-width: 40.625em) {
      .about p {
        width: 68%;
        margin-right: 5%; } }
    @media (min-width: 62.5em) {
      .about p {
        width: 60%; } }
  .about a {
    color: #0b3156;
    transition: all .3s ease; }
    @media (min-width: 64.0625em) {
      .about a:hover {
        color: #205e69; } }
  .about .skills, .about .languages {
    width: 46%;
    float: left;
    text-align: left; }
    @media (min-width: 40.625em) {
      .about .skills, .about .languages {
        width: 22%;
        position: absolute;
        right: 4%; } }
    @media (min-width: 62.5em) {
      .about .skills, .about .languages {
        width: 12%; } }
    .about .skills ul, .about .languages ul {
      padding-left: 12%;
      color: #074752; }
  .about .skills {
    margin-right: 3%; }
    @media (min-width: 40.625em) {
      .about .skills {
        margin-right: 0;
        top: 108px; } }
    @media (min-width: 62.5em) {
      .about .skills {
        right: 20%;
        width: 14%; } }
  .about .languages {
    margin-left: 5%; }
    @media (min-width: 40.625em) {
      .about .languages {
        margin-left: 0;
        top: 444px; } }
    @media (min-width: 795px) {
      .about .languages {
        top: 396px; } }
    @media (min-width: 957px) {
      .about .languages {
        top: 372px; } }
    @media (min-width: 62.5em) {
      .about .languages {
        top: 108px; } }
  .about img {
    width: 184px;
    position: absolute;
    bottom: -662px;
    left: 50%;
    margin-left: -92px;
    border: 3px solid #8fb5ca; }
    @media (min-width: 28.125em) {
      .about img {
        bottom: -612px; } }
    @media (min-width: 32.8125em) {
      .about img {
        bottom: -564px; } }
    @media (min-width: 40.625em) {
      .about img {
        position: static;
        float: left;
        margin-left: 0;
        margin-right: 20px;
        margin-top: 5px; } }

.connect {
  background-color: #074752;
  background-image: url("../images/egg-shell.png");
  padding-bottom: 60px;
  border-top: 5px solid #a6a3a1;
  border-bottom: 5px solid #a6a3a1;
  color: #a9cfe0;
  text-align: center;
  margin-bottom: 0px; }
  @media (min-width: 40.625em) {
    .connect {
      text-align: left; } }
  @media (min-width: 40.625em) {
    .connect div {
      max-width: 650px;
      margin: 0 auto; } }
  .connect p {
    text-align: left;
    font-weight: 300; }
  .connect a.button {
    color: #a9cfe0;
    font-weight: 300;
    display: inline-block;
    transition: all .5s ease; }
    @media (min-width: 64.0625em) {
      .connect a.button:hover {
        color: #074752; } }
  .connect a {
    color: #a9cfe0;
    font-weight: 300;
    transition: all .3s ease; }
    @media (min-width: 64.0625em) {
      .connect a:hover {
        color: #a6a3a1; } }

footer {
  background-image: url("../images/paisley.jpg");
  border-bottom: 5px solid #a6a3a1;
  width: 100%;
  text-align: center;
  color: #074752;
  padding: 1px 2% 0; }
  @media (min-width: 31.25em) {
    footer {
      padding-left: 4%;
      padding-right: 4%; } }
  @media (min-width: 40.625em) {
    footer div {
      max-width: 650px;
      margin: 0 auto; } }
  @media (min-width: 40.625em) {
    footer .logoReplace a {
      float: left;
      width: 50%;
      background-size: contain;
      background-repeat: no-repeat;
      margin-right: 5%; } }
  footer .hobbies {
    text-align: left; }
    @media (min-width: 40.625em) {
      footer .hobbies {
        padding-top: 7px; } }
  footer .copyright {
    font-size: 12px;
    margin-bottom: 0; }
    @media (min-width: 40.625em) {
      footer .copyright {
        text-align: left;
        clear: left; } }

.workItem header {
  border-bottom: 5px solid #a6a3a1;
  margin: 0; }
.workItem main {
  background-image: url(../images/cream-dust.png);
  color: #0b3156;
  text-align: center; }
  @media (min-width: 40.625em) {
    .workItem main {
      text-align: left; } }
.workItem .connect {
  color: #cbe5f0; }
  .workItem .connect a {
    color: #cbe5f0; }
  .workItem .connect .button {
    border-color: #cbe5f0; }
.workItem section {
  padding-bottom: 48px; }
.workItem img {
  max-width: 100%;
  border: 3px solid #a6a3a1;
  margin-bottom: 24px; }
  @media (min-width: 53.125em) {
    .workItem img {
      width: 68%;
      display: inline-block;
      vertical-align: top; } }
@media (min-width: 53.125em) {
  .workItem .imgTwo {
    float: right;
    margin-bottom: 60px; } }
@media (min-width: 985px) {
  .workItem .middleTwo {
    margin-top: 12px; } }
@media (min-width: 1050px) {
  .workItem .middleTwo {
    margin-top: 36px; } }
.workItem h2 {
  margin-bottom: 12px; }
@media (min-width: 53.125em) {
  .workItem h3 {
    margin-top: 0;
    padding-top: 0; } }
.workItem p {
  margin-top: 0;
  margin-bottom: 60px; }
.workItem .intro {
  font-family: Oswald, sans-serif;
  font-weight: 300;
  font-size: 24px;
  margin-top: 12px; }
.workItem .scope {
  font-family: Oswald, sans-serif;
  text-align: left;
  display: block;
  font-size: 20px;
  padding-bottom: 24px; }
.workItem .workDetail {
  text-align: left; }
  @media (min-width: 53.125em) {
    .workItem .workDetail {
      display: inline-block;
      width: 26%;
      margin-left: 5%; } }
.workItem .workDetail2 {
  text-align: left; }
  @media (min-width: 53.125em) {
    .workItem .workDetail2 {
      float: left;
      width: 25%;
      margin-right: 5%; } }
.workItem div.silver {
  background-color: #a6a3a1; }
@media (min-width: 53.125em) {
  .workItem .viewWork {
    float: right;
    width: 27%;
    margin-left: 5%;
    clear: right; } }
.workItem .viewWork ul {
  list-style: none;
  padding: 0; }
.workItem .viewWork li {
  display: inline; }
  @media (min-width: 53.125em) {
    .workItem .viewWork li {
      display: block;
      padding-bottom: 5px; } }
.workItem .viewWork a {
  color: #0b3156;
  font-weight: 300;
  padding: 10px 5px;
  transition: all .3s ease; }
  @media (min-width: 64.0625em) {
    .workItem .viewWork a:hover {
      color: #8d8b89; } }
.workItem a.button {
  margin-bottom: 24px; }
.workItem .otherWorks {
  margin-bottom: 24px; }
.workItem a.nextProject {
  float: right;
  color: #0b3156;
  font-weight: 300;
  padding: 10px 5px;
  transition: all .3s ease; }
  @media (min-width: 64.0625em) {
    .workItem a.nextProject:hover {
      color: #8d8b89; } }
.workItem a.lastProject {
  float: left;
  color: #0b3156;
  font-weight: 300;
  padding: 10px 5px;
  transition: all .3s ease; }
  @media (min-width: 64.0625em) {
    .workItem a.lastProject:hover {
      color: #8d8b89; } }
.workItem a > img {
  transition: all .5s ease-out; }
  @media (min-width: 64.0625em) {
    .workItem a > img:hover {
      border-color: #a9cfe0; } }
.workItem .connect p {
  margin-bottom: 24px; }
.workItem p.copyright {
  margin-bottom: 0; }

.process .processWrapper p.intro {
  margin-left: 0;
  width: 100%;
  margin-bottom: 48px;
  text-align: center; }
  @media (min-width: 40.625em) {
    .process .processWrapper p.intro {
      text-align: left; } }
.process .wrapper a {
  color: #0b3156;
  transition: all .3s ease; }
  @media (min-width: 64.0625em) {
    .process .wrapper a:hover {
      color: #8d8b89; } }
.process .processWrapper p {
  margin-bottom: 0;
  text-align: left; }
  @media (min-width: 53.125em) {
    .process .processWrapper p {
      display: inline-block;
      width: 31%; } }
@media (min-width: 53.125em) {
  .process img {
    width: 63%;
    display: inline-block;
    vertical-align: top; } }
.process .imageLeft {
  clear: both;
  overflow: hidden;
  margin-bottom: 60px; }
  @media (min-width: 53.125em) {
    .process .imageLeft p {
      margin-left: 5%;
      text-align: justify; } }
.process .imageRight {
  margin-bottom: 60px; }
  .process .imageRight img {
    margin-right: 8px; }
  @media (min-width: 53.125em) {
    .process .imageRight p {
      margin-right: 5%;
      text-align: justify; } }
