.process {
	p.intro {
		margin-left: 0;
		width: 100%;
		margin-bottom: 48px;
	}
	a {
		color: $dblue;
		font-weight: 300;
		transition: all .3s ease;
		line-height: 24px;

		@include bp($hover){
			&:hover{
				color: #8d8b89;
			}
		}
	}
	p {
		margin-bottom: 0;
		@include bp($workMed){
			display: inline-block;
			width: 30%;
		}
	}

	img{
		@include bp($workMed){
			width: 64%;
			display: inline-block;
			vertical-align: top;
		}
	}

	.imageLeft {
		clear: both;
		overflow: hidden;
		margin-bottom: 48px;

		p{
			@include bp($workMed){
				margin-left: 5%;
			}
		}

	}
	.imageRight{
		margin-bottom: 48px;
		
		p{
			@include bp($workMed){
				margin-right: 5%;
			}
		}
	}

}