.process {
	.processWrapper p.intro {
		margin-left: 0;
		width: 100%;
		margin-bottom: 48px;
		text-align: center;

		@include bp($small){
			text-align: left;
		}
	}
	.wrapper a {
		color: $dblue;
		transition: all .3s ease;

		@include bp($hover){
			&:hover{
				color: #8d8b89;
			}
		}
	}
	.processWrapper p {
		margin-bottom: 0;
		text-align: left;
		@include bp($workMed){
			display: inline-block;
			width: 31%;

		}
	}

	img{
		@include bp($workMed){
			width: 63%;
			display: inline-block;
			vertical-align: top;

		}
	}

	.imageLeft {
		clear: both;
		overflow: hidden;
		margin-bottom: 60px;


		p{
			@include bp($workMed){
				margin-left: 5%;
				text-align: justify;
			}
		}

	}
	.imageRight{
		margin-bottom: 60px;
		img{
			margin-right: 8px;
		}
		
		p{
			@include bp($workMed){
				margin-right: 5%;
				text-align: justify;
			}
		}
	}
	

}