@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700|Oswald:400,300");

$fontH: Oswald, sans-serif;
$fontB: Lato, sans-serif;

//colors
$lblue: #a9cfe0;
$dblue: #0b3156;
$lgreen: #bbdddb;
$dgreen: #074752;
$silver: #a6a3a1;


$small: 650em / 16;
$workMed: 850em/16;
$med: 1000em / 16;
$hover: 1025em/16;